Data Science Tools and Ecosystem
===

In this notebook, Data Science Tools and Ecosystem are summarized.

Some of the popular languages that Data Scientists use are:
1. R
2. Python
3. Julia

Some of the commonly used libraries used by Data Scientists include:
1. Keras
2. NumPy
3. PyTorch

|Data Science Tools|
|---|
|Jupyter Notebooks|
|RStudio|
|Apache Hadoop|

### Below are a few examples of evaluating arithmetic expressions in Python

In [5]:
'This a simple arithmetic expression to mutiply then add integers'
(3*4)+5

17

In [6]:
'This will convert 200 minutes to hours by diving by 60'
minutes = 200
hours = 60
hours = minutes/60
print(hours)

3.3333333333333335

**Objectives:**
- List popular languages for Data Science
- List common libraries used by Data Scientist.
- Give a few examples of evaluating arithmetic expressions in Python

## Author 

Kiet Tran